<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          Google Maps
        </div>
        <div class="card-body ">
          <div id="map" class="map"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="btn-primary px-4 py-2" style="border-radius:25px;">Añadir árbol</div>
    </div>
    <div class="col-md-2">
      <div class="btn-primary px-4 py-2" style="border-radius:25px;">Borrar árbol</div>
    </div>
    <div class="col-md-2">
      <div class="btn-primary px-4 py-2" style="border-radius:25px;">Editar árbol</div>
    </div>
    <div class="col-md-2 text-center">
      <select class="form-select btn-primary px-4 py-2" style="border-radius: 25px;" aria-label="Filtrar árboles">
        <option selected>Filtrar árboles</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
</div>
